aws_region       = "sa-east-1"
aws_profile      = ""
instance_type    = "t3.micro"
key_name         = "terraform-ansible-ubuntu"
public_key_path  = "~/.ssh/aws_terraform_ansible.pub"
private_key_path = "~/.ssh/aws_terraform_ansible"
allowed_ssh_cidr = "SEU_IP_PUBLICO/32"
ubuntu_version   = "22.04"
root_volume_size = 20
